<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Peace Pigeons</title>
  <link rel="icon" type="image/png" href="/assets/icons/favicon.png">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-xxxx" crossorigin="anonymous">

  <link href="/assets/css/styles.css" rel="stylesheet"> <!-- General Styles -->

  <link href="/assets/css/roadmap.css" rel="stylesheet"> <!-- Roadmap Styles -->
  <link href="/assets/css/contact.css" rel="stylesheet"> <!-- Contact Us Styles -->
  
</head>

<body>
    <!-- External JavaScript file -->
  <script src="/assets/js/script.js"></script>
  <title>Peace Pigeons - Uniting for Peace, Memes, and Good Vibes</title>
  <header>
    <nav class="navbar">
      <div class="logo-container">
        <img src="/assets/images/logo-peacepigeons.jpg" alt="Peace Pigeons Logo" class="logo">
      </div>
      <ul class="nav-menu">
        <li><a href="#welcome">Welcome</a></li>
        <li><a href="#whatarewe">What Are We?</a></li>
        <li><a href="#flightplan">Flight Plan</a></li>
        <li><a href="#joinus">Join</a></li>
       <!-- <li><a href="#faq">FAQ</a></li>
        <li><a href="#contact">Contact</a></li> -->
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2024 Peace Pigeons. All rights reserved.</p>
  </footer>
</body>
</html>
