<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | Peace Pigeons</title>
  <link rel="icon" type="image/png" href="/assets/icons/favicon.png">

  <link href="/assets/css/styles.css" rel="stylesheet"> <!-- General Styles -->

  {% if page.title == "Roadmap" %}
  <link href="/assets/css/roadmap.css" rel="stylesheet"> <!-- Roadmap Styles -->
  {% endif %}
  {% if page.title == "Contact Us" %}
  <link href="/assets/css/contact.css" rel="stylesheet"> <!-- Contact Us Styles -->
  {% endif %}
</head>

<body>
  <header>
    <nav class="navbar">
      <div class="logo-container">
        <img src="/assets/images/logo-peacepigeons.jpg" alt="Peace Pigeons Logo" class="logo">
      </div>
      <ul class="nav-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/tokenomics.html">Tokenomics</a></li>
        <li><a href="/roadmap.html">Roadmap</a></li>
        <li><a href="/prelaunch.html">Prelaunch</a></li>
        <li><a href="/faq.html">FAQ</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2024 Peace Pigeons. All rights reserved.</p>
  </footer>
</body>
</html>
